<h2>Requests</h2>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @requests %>
  </tbody>
</table>

<%= paginate @requests %>