<h2>Requests</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Method</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.url %></td>
        <td><%= request.method %></td>
        <td><%= list_actions(request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>